## Раскомментируйте строчку ниже в зависимости от используемого
## компилятора C++

## Компилятор GNU C++
# CPPLINE='gсс -Wall -g'

## Компилятор Clang:
# CPPLINE='clang -Wall -g'

## Если ваш компилятор C++ отсутствует в списке ниже, впишите его сами:
# PATH=$PATH:…
# CPPLINE=…

echo>/dev/null

## По умолчанию используем GNU C++:
if [ -z "$CPPLINE" ]; then
  CPPLINE='gcc -Wall -g'
fi
